*.py[co]

# Packages
*.egg
*.egg-info
.installed.cfg

# Installer logs
/pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.noseids
*,cover

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Emacs
.#*

# VIM
*.swp
*.swo

.DS_Store
/venv

/site_settings.py
.vagrant

.mongo

/node_modules
/assets
/build

.sass-cache
.session
/newrelic.ini



tests/test.yaml
tests/testnode0.yaml
.screenly_session
docker/requirements*
docker/lib
nohup.out

/docker/vagrant_ssl.crt
docker/client/requirements*.txt

static_src/css/*.map
VERSION
static/**
build/**

# Exclude files that will be compiled
docker/Dockerfile.admin
docker/Dockerfile.appserver
docker/Dockerfile.assetprocessor
docker/Dockerfile.forwarder
docker/Dockerfile.websocket


# Certificate copied to the puppet directory
puppet/modules/local-server/files/screenlyapp.com.crt
