/**
 * DEPENDENCIES
 */

@import 'variables';


/**
 * FOOTER
 */

footer {
    font-size: 0;
    line-height: 0;
    position: fixed;
    left: $padding;
    right: $padding;
    bottom: $padding;

    span,
    img {
        color: white;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }

    .logo {
        height: auto;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;

        image {
            height: auto;
        }
    }
}

@media screen and (max-width: 800px) {

    footer {
        .logo {
            max-width: 40px;
            height: auto;
            image {
                width: 40px;
                height: auto;
            }
        }
    }
}
