<!DOCTYPE html>
<html class="no-js">

    <head>
        <title>{{site.title}} - {{site.tagline}}</title>
        <meta name="description" content="{{site.description}}">
        <meta charset="UTF-8">
        <meta name="robots" content="noindex" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <!-- MODRNIZR MANY STYLES AND SCRIPTS DEPEND ON IT -->
        {% javascript js/vendor/modernizr %}

        <!-- CSS THEME -->
        {% stylesheet css/app %}

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,500,500i" rel="stylesheet">
    </head>

    <body class="{{ page.class }}">
