<!DOCTYPE html>
<html class="no-js">

    <head>
        <title>{{site.title}} - {{site.tagline}}</title>
        <meta name="description" content="{{site.description}}">
        <meta charset="UTF-8">
        <meta name="robots" content="noindex" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="{% asset_path favicon/apple-touch-icon.png %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% asset_path favicon/favicon-32x32.png %}">
        <link rel="icon" type="image/png" sizes="194x194" href="{% asset_path favicon/favicon-194x194.png %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% asset_path favicon/android-chrome-192x192.png %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% asset_path favicon/favicon-16x16.png %}">
        <link rel="manifest" href="{% asset_path favicon/manifest.json %}">
        <link rel="mask-icon" href="{% asset_path favicon/safari-pinned-tab.svg %}" color="#355489">
        <meta name="msapplication-TileColor" content="#355489">
        <meta name="msapplication-TileImage" content="{% asset_path favicon/mstile-144x144.png %}">
        <meta name="theme-color" content="#ffffff">

        <!-- MODRNIZR MANY STYLES AND SCRIPTS DEPEND ON IT -->
        {% javascript js/vendor/modernizr %}

        <!-- CSS THEME -->
        {% stylesheet css/app %}

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,500,500i" rel="stylesheet">
    </head>

    <body class="{{ page.class }}">
