/**
 * DEPENDENCIES
 */

@import 'variables';

/**
 * SECTION
 */

section {
    top: 50%;
    padding: 0;
    z-index: 99;
    text-align: center;
    position: relative;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);

    &:after {
        width: 100%;
        content: ".";
        visibility: hidden;
        display: inline-block;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-weight: 100;
        font-size: 443px;
        font-size: 26.4vw;
        line-height: 0.9em;
        text-align: center;
        letter-spacing: -22px;

        i {
            margin: 0 70px;
            position: relative;
            font-style: normal;
            display: inline-block;
            transform: translateY(-25%);
            -webkit-transform: translateY(-25%);
            font-size: 340px;
            font-size: 28.3vw;
            vertical-align: middle;
        }
    }
}

#clock {
    display: inline-block;
}

#ampm {
    margin: 0;
    font-size: 37px;
    font-size: 3vw;
    font-weight: 300;
    text-align: right;
}

#date {
    margin: 0;
    font-size: 37px;
    font-size: 3vw;
    font-weight: 300;
    text-align: right;
}


/**
 * MEDIA QUERIES
 */

@media screen and (max-width: 800px) {
    section {
        h1 {
            font-size: 190px;
            font-size: 23.4vw;
            letter-spacing: -7px;
            i {
                margin: 0 30px;
                font-size: 190px;
                font-size: 23.3vw;
                transform: translateY(-20%);
                -webkit-transform: translateY(-20%);
            }
        }
    }
}
